/* Estilos para el encabezado */
header {
  background-color: #f8f9fa;
  padding: 5rem 0;
}

header h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

header p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

header .btn-primary {
  background-color: #343a40;
  border-color: #343a40;
}

/* Estilos para el contenido */


.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.col-lg-8 p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.col-lg-8 h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
/*
.col-lg-4 {
  background-color: #f8f9fa;
  padding: 2rem;
}
*/
.col-lg-4 h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.col-lg-4 p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.col-lg-4 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.col-lg-4 li {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Estilos para el pie de página 
footer {
  background-color: #343a40;
  color: #fff;
  padding: 2rem 0;
}

footer p {
  font-size: 1.2rem;
}
*/
/* css formulario */
/*
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  h2, h3 {
    text-align: center;
    margin-bottom: 30px;
  }
*/
  
  form {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .form-control {
    border-radius: 3px;
    font-size: 16px;
    padding: 12px;
    border: none;
    box-shadow: none;
    background-color: #f8f9fa;
    color: #212529;
  }
  
  .form-control:focus {
    box-shadow: none;
    border: none;
  }
  
  textarea.form-control {
    height: 150px;
  }
  
  button[type="submit"] {
    background-color: #212529;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #000;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .bi {
    margin-right: 10px;
    vertical-align: middle;
  }
  
  @media (max-width: 767px) {
    form {
      padding: 20px;
    }
  }
  #quienes-somos {
    background-color: #f9f9f9;
    padding: 60px 0;
  }
  
  #quienes-somos h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .quienes-somos-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .quienes-somos-text {
    width: 60%;
    padding-right: 50px;
  }
  
  .quienes-somos-text p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .quienes-somos-image {
    width: 40%;
    text-align: right;
  }
  
  .quienes-somos-image img {
    max-width: 100%;
  }
  